<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<!--  INYECCION DE OBJETOS -->
	<!-- Inyeccion de objeto con el atributo de ref pais -->
   <bean id="persona" class="com.spring.beans.Persona">
		<property name="nombre" value="Gringo Jose"></property>
		<property name="id" value="1"></property>
		<property name="apodo" value="Pancho Villa"></property>
		<property name="pais" ref="pais"></property>
	</bean>
	 <!-- Inyeccion de objeto con el atributo de ref ciudad   -->
	
	
	<bean id="pais" class="com.spring.beans.Pais">
		<property name="nombre" value="Peru"></property>
		<!-- Propiedades tipo lista -->
		<property name="ciudades">
			<list>
				<ref bean="ciudad1"/>
				<ref bean="ciudad2"/>
				<ref bean="ciudad3"/>
			</list>
		</property>
	</bean>
	<!-- Bean ciudad 1 -->
	<bean id="ciudad1" class="com.spring.beans.Ciudad">
		<property name="nombre" value="Caracas"></property>
	</bean> 
	<!-- Bean ciudad 2 -->
	<bean id="ciudad2" class="com.spring.beans.Ciudad">
		<property name="nombre" value="Lima"></property>
	</bean> 
	<!-- Bean ciudad 3 -->
	<bean id="ciudad3" class="com.spring.beans.Ciudad">
		<property name="nombre" value="Buenos Aires"></property>
	</bean> 
	
</beans>
